*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #ffe4c4;
    padding: 0 10px;
}
.container{
    border: 2px solid black;
    max-width: 500px;
    width: 350px;
    background: white;
    margin: 20px auto;
    padding: 30px;
    box-shadow: 10px 10px 2px rgba(0, 0, 0, 0.125);

}
.container .tittle{
font-size: 24px;
font-weight: 600;
margin-bottom: 20px;
color: #7c4400;
text-transform: uppercase;
text-align: center ;
}
.container .form .input_field label
{
width: 200px;
margin-right: 10px;
}
.container .form .input_field{
    margin-bottom: 15px;
    display: flex;
    align-items: center;
}
.btn{
    margin: 1px 0px 0px 100px;
    background-color:   #7c4400;
    color: aliceblue;
    padding: 2px;
    box-shadow: 4px 4px 2px rgba(0, 0, 0, 0.425);
    font-weight: bold;
    border-radius: 6px;
    width: 100px; 
    
}

.container .form .input_field.input {
    font-size: 30px;
    border-radius: 4px;
    transition: all 0.5s ease;

}
.ss{
    position: relative;
    height: 25px;
    width: 100%;
    border-color: 2px solid blackblack;

}
.textarea{
    position: relative;
    height: 35px;
    width: 100%;
    border-color: 2px solid blackblack;
}
.checkmark{
    width: 100%;    
}
.btn:hover{
background-color: red;
}